@import 'material-icons/iconfont/material-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: url('/img/app-background.jpg');
        background-size: cover;

        @apply text-on-container-500;
    }

    .spin-buttons-none {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .spin-buttons-none::-webkit-inner-spin-button,
    .spin-buttons-none::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}
